<h2>Asientos Realizados</h2>
<br>
<ul>
  <li class = "list-group-item" *ngFor="let a of asiento; let i=index">
    <label>Asiento Nº {{ i + 1 }}</label>
    <div class="row">
      <div class="col-md-2">
        <label>Fecha</label>
        <h4>{{ a.fecha }}</h4>
      </div>
      <div class="container-fluid">
        <legend>{{ cuenta }}</legend>
        <br>      
            <table class="table table-striped table-hover " >
              <thead>
                <tr>
                  <th>Concepto Debe</th>
                  <th>Concepto Haber</th>
                  <th>Monto Debe</th>
                  <th>Monto Haber</th>
                </tr>
              </thead> 
              <tbody > 
                <tr *ngFor="let debe of a.debe">
                  
                  <td>{{debe.concepto}}</td>
                  <td></td>
                  <td>{{debe.monto}}</td>
                  <td></td>
  
                </tr>
                <tr *ngFor="let haber of a.haber">
                    
                    <td></td>
                    <td>{{haber.concepto}}</td>
                    <td></td>
                    <td>{{haber.monto}}</td>
  
                  </tr>
              </tbody>
      
            </table>               
      </div>
    </div>
  </li>
</ul>

     <!-- <div class="col-md-5">
        <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Concepto Debe</th>
                <th>Monto Debe</th>
              </tr>
            </thead>
            <tbody>
              <tr class="active" *ngFor="let c of a.debe; let i=index">
                <td> {{ c.concepto }} </td>
                <td> {{ c.monto }} </td>
              </tr>     
          </tbody>
        </table>
      </div> -->
      <!-- <div class="col-md-5">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Concepto Haber</th>
              <th>Monto Haber</th>
            </tr>
          </thead>
          <tbody>
            <tr class="info" *ngFor="let c of a.haber; let i=index">
              <td> {{ c.concepto }} </td>
              <td> {{ c.monto }} </td>
            </tr>     
          </tbody>
        </table>
      </div> -->
