<form class = "form-horizontal" [formGroup]="myForm" novalidate (ngSubmit)="save(myForm._value)">
  <fieldset>
    <legend>Agregar Asiento</legend>
    <div class="form-group">
      <label class="control-label">Fecha</label>
      <input class = "form-control" type="date" formControlName="fecha">
      <!--display error message if fecha is not valid-->
      <small [hidden]="myForm.controls.fecha.valid" class="text-danger">
        Fecha es requerida.
      </small>
    </div>
    <hr>
    <div formArrayName="conceptoDebe">
      <div *ngFor="let concepto of myForm.controls.conceptoDebe.controls; let i=index">
        <!-- address header, show remove button when more than one concepto available -->
        <div class="form-group">
          <span>Concepto Debe {{i + 1}}</span>
          <button type="button" class = "btn btn-success pull-right" *ngIf="myForm.controls.conceptoDebe.controls.length > 1" (click)="removeConceptoDebe(i)">Eliminar concepto</button>
        </div>

        <!-- Angular assigns array index as group name by default 0, 1, 2, ... -->
        <div [formGroupName]="i">
          <!--concepto-->
          <div class="form-group">
            <label class="control-label">Concepto</label>
            <select class = "form-control" formControlName="concepto">
              <option>Caja</option>
              <option>Proveedores</option>
              <option>Mercaderia</option>
            </select>
            <!--display error message if street is not valid-->
            <small [hidden]="myForm.controls.conceptoDebe.controls[i].controls.concepto.valid" class="text-danger">
              Concepto es requerido
            </small>
          </div>
          <!--monto-->
          <div class="form-group">
            <label class="control-label">Monto</label>
            <input class = "form-control" type="text" formControlName="monto">
            <small [hidden]="myForm.controls.conceptoDebe.controls[i].controls.monto.valid" class="text-danger">
              Monto es requerido
            </small>
          </div>
        </div>
      </div>
    </div>
    <button type="button" class = "btn btn-success pull-right" (click) = "addConceptoDebe()">Agregar Debe</button>    
    <br>
    <hr>
    <div formArrayName="conceptoHaber">
      <div *ngFor="let concepto of myForm.controls.conceptoHaber.controls; let i=index">
        <div class="form-group">
          <span>Concepto Haber {{i + 1}}</span>
          <button type="button" class = "btn btn-success pull-right" *ngIf="myForm.controls.conceptoHaber.controls.length > 1" (click)="removeConceptoHaber(i)">Eliminar concepto</button>
        </div>
        <div [formGroupName]="i">
          <!--concepto-->
          <div class="form-group">
            <label class="control-label">Concepto</label>
            <select class = "form-control" formControlName="concepto">
              <option>Caja</option>
              <option>Proveedores</option>
              <option>Mercaderia</option>
            </select>
            <small [hidden]="myForm.controls.conceptoHaber.controls[i].controls.concepto.valid" class="text-danger">
              Concepto es requerido
            </small>
          </div>
          <!--monto-->
          <div class="form-group">
            <label class="control-label">Monto</label>
            <input class = "form-control" type="text" formControlName="monto">
            <small [hidden]="myForm.controls.conceptoHaber.controls[i].controls.monto.valid" class="text-danger">
              Monto es requerido
            </small>
          </div>
        </div>
      </div>      
    </div>
    <br>
    <button type = "button" class = "btn btn-success pull-right" (click) = "addConceptoHaber()"> Agregar Haber</button>  
  </fieldset>
  <br>
  <button class = "btn btn-primary pull-left" type="submit" [disabled]="!myForm.valid">Agregar Asiento</button>  
</form>


